Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Linux/FileOpenOrder/EditorOpenOrder.log
Build/Linux/FileOpenOrder/CookerOpenOrder.log
